body { background: #d8e10f; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 10px; display: flex; }
.block-token-0 { color: #321244; font-size: 16px; margin-bottom: 5px; }
.block-filter-1 { color: #7931ef; font-size: 14px; margin-bottom: 5px; }
.block-helper-2 { color: #58791; font-size: 20px; margin-bottom: 5px; }
.block-user-3 { color: #e86b11; font-size: 17px; margin-bottom: 5px; }
.block-uploader-4 { color: #51a51f; font-size: 12px; margin-bottom: 5px; }